<nav>
    <div class="site-title">
        <a href="/"><h1>My Hero Academia</h1></a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Developer</a></li>
        <li><a href="blogs/add">Add Hero</a></li>
    </ul>
</nav>