<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About UA</h2>
        <div>
            <p>
                The best hero academy in the east to produce mighty heroes. Both quirk and quirkless students are welcome to take the entrance exam. The graduation time is 3 years. The students will earn their provisional and official hero licenses in this period. They will be examined based on their applications and may be put in a different department if deemed fit.
            </p>

            <p>
                Our illustrious faculty involves some of the most renowned heroes like All Might, Eraserhead, Midnight, Prsent Mic and so on.
            </p>

            <p>
                UA sports fest is watched more than the olympics. Watch our students light up the arena with amazing coordination and skill.
            </p>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %> 
</html>