<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    
    <div class="add-hero content">
        <form>
            <label for="name">Hero Name</label>
            <input type="text" id="hname" required>

            <label for="rname">Real Name</label>
            <input type="text" id="rname" required>

            <label for="quirt">Quirk</label>
            <input type="text" id="quirk" value="If Any">

            <label for="status">Status</label>
            <select>
                <option>Pro</option>
                <option>Rookie</option>
            </select>

            <label for="body">Description</label>
            <textarea id="body"></textarea>
            <button>Submit</button>
        </form>
    </div>
</body>
<%- include('./partials/footer.ejs') %> 
</html>