<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UA High | <%= title %> </title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>My Hero Academia</h1></a>
            <p>&copy; UA High</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Developer</a></li>
            <li><a href="blogs/add">Add Hero</a></li>
        </ul>
    </nav>
    
    <div class="blogs content">
        <h2>A list heros, pro and rookie</h2>
    </div>
</body>
</html>